<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Conversational Workflow Page</title>
    </head>
    <body>
        <a href="/" style="display: inline-block; margin-bottom: 20px; padding: 10px 20px; background-color: rgb(60,50,130);  color: white; text-align: center; text-decoration: none; border-radius: 5px;">Back to Home</a>
        <div id="convo">
            <h2>Conversational Workflow Settings</h2>
            <table>
                <thead>
                    <tr>
                        <th>Template IDs</th>
                        <th>Name</th>
                        <th>Last Edited</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for template in conversation_templates %}
                    <tr>
                        <td>{{ template.convo_template_id }}</td>
                        <td>{{ template.convo_name }}</td>
                        <td>{{ template.last_updated }}</td>
                        <td><a href="">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <elevenlabs-convai agent-id="3JYq3pt7rPssSdo5JLCf"></elevenlabs-convai><script src="https://elevenlabs.io/convai-widget/index.js" async type="text/javascript"></script>
        </div>
    </body>
</html>